* {
    box-sizing: border-box;
    font-family: "arboria", sans-serif;
    font-weight: 500;
    font-style: normal;
    scroll-behavior: smooth;
    background-color: #C0CAEB;
}

@font-face {
    font-family: 'Pomidor';
    src: url('Pomidor.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

img {
    width: 100%;
    vertical-align: middle;
}



.display-4 {
    background-color:#E6FF81 ;
}
.lead {
    background-color:#E6FF81 ;
}
.d-grid {
    background-color:#E6FF81 ;
}
.btn-primary {
    background-color:#E6B0FA !important;
    outline-color: black !important;
}
.btn-outline-secondary {
    background-color: #C0CAEB!important;
    outline-color: black !important;
}

.col-lg-6 {
    background-color:#E6FF81 ;
    display: flex;
    flex-direction: column;
}

.col-lg-6 > p {
    display: flex;
    text-align: center;
}

.px-4 {
    background-color:#E6FF81 ;
    margin: 0;
}

.mb-4 {
    /* margin-bottom: 1.5rem!important; */
    margin-top: 1.5rem!important;
}


.my-5 {
    margin-top: 3rem!important;
    margin-bottom: 3rem!important;
    background-color:#E6FF81 ;
}

p {
    background-color: #E6FF81 !important;
}

.icons {
    background-color: #E6FF81;
}

.silueta {
    background-color: #E6FF81;
}

.lead {
    font-size: 2em !important;
    font-weight: 300;
}

.col-md-4 {
    margin: 0 !important;
    padding: 0 !important;
}
.col-md-4 > p {
    display: flex;
    text-align: center;
    width: 100%;
    height: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    background-color: #C0CAEB;
    margin-bottom: 0;
    margin-right: 0 !important;
}

.gallery {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.gallery-item {
    width: 40%;
    margin-bottom: 2%;
}

.gallery-item img {
    width: 50%;
    height: auto;
    display: block;
}
.container.img {
    width: 100%;
}

.zoom-img {
    transition: transform 0.3s; /* Agrega una transición suave */
}
  
.zoom-img:hover {
    transform: scale(1.1); /* Escala la imagen al 110% en hover */
}

@media (max-width: 768px) {
    .gallery-item {
      width: 100%;
      margin-bottom: 2%;
    }
}

#footer { 
    margin: 0;
    padding: 5;
    background-color: #E6FF81 ;
    text-align: center;
}

#footer .p { 
    background-color: #E6FF81 ;
}

#footer .icons { 
    margin: 5;
    color:black;
    text-align: center;
    background-color: #E6FF81 ;
}

#footer .svg { 
    background-color: #E6FF81 ;
}

.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
}



