* {
    box-sizing: border-box;
    font-family: "arboria", sans-serif;
    font-weight: 500;
    font-style: normal;
    scroll-behavior: smooth;
}


.col-md-6 {
    margin: 0 !important;
    padding: 0 !important;
}
.col-md-4 {
    margin: 0 !important;
    padding: 0 !important;
}

img {
    width: 100%;
    vertical-align: middle;
}

img .container { 
    width: 130% !important;
    vertical-align: middle;
    margin: 0
}

#footer { 
    margin: 0;
    padding: 5;
    background-color: #E6FF81 ;
    text-align: center;
}

#footer .icons { 
    margin: 5;
    color:black;
    text-align: center;

}