* {
    box-sizing: border-box;
    font-family: "arboria", sans-serif;
    font-weight: 500;
    font-style: normal;
    scroll-behavior: smooth;
    background-color: #C0CAEB;
}

@font-face {
    font-family: 'Pomidor';
    src: url('Pomidor.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}


.col-md-6 {
    margin: 0 !important;
    padding: 0 !important;
}
.col-md-4 {
    margin:0; ;
    padding: 0 !important;
    background-color: #E6FF81;
    font-family: 'Pomidor';
    flex: 0 0 auto !important;
    width: 33.333% !important;
    
}

.col-md-4 p {
    margin-top: 3%;
    font-family: 'Pomidor';
    color: #E6FF81;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    line-height: 0.7em;
    text-align: center;
    font-size: 55;
}
.col-md-4 p:hover {
    color: rgb(0, 0, 0);
}

@media (min-width: 320px) and (max-width: 1440px) {
 .col-md-4 {
    flex: 0 0 auto !important;
    width: 100% !important;
    }
}

img {
    width: 100%;
    vertical-align: middle;
}

p {
    background-color:#E6FF81 ;
}


#footer { 
    margin: 0;
    padding: 5;
    background-color: #E6FF81 ;
    text-align: center;
}
.container .p { 
    background-color: #E6FF81 !important;
    font-size: 4em !important;
}

.container  { 
    margin: 0!important;
    padding: 5;
    background-color: #E6FF81 ;
    text-align: center;
}

#footer .icons { 
    margin: 5;
    color:#C0CAEB;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-align: center;
    background-color: #E6FF81 ;
}
.fa-brands {
    background-color: #E6FF81 ;
}
.fa-brands, .fab {
    font-family: "Font Awesome 6 Brands";
    font-size: 2em;
    letter-spacing: 0.5em;
}
#footer .icons:hover {
    color: rgb(0, 0, 0);
}
#footer .p { 
    color: rgb(0, 0, 0);
}
