* {
    box-sizing: border-box;
    font-family: "arboria", sans-serif;
    font-weight: 500;
    font-style: normal;
    scroll-behavior: smooth;
    background-color: #C0CAEB;
}

@font-face {
    font-family: 'Pomidor';
    src: url('Pomidor.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}


.col-md-6 {
    margin: 0 !important;
    padding: 0 !important;
}
.col-md-4 {
    margin:0; ;
    padding: 0 !important;
    background-color: #E6FF81;
    font-family: 'Pomidor';
}

@media (min-width: 992px) {
    .col-md-4 {
        max-width: 100%;
    }
}

.col-md-4 p {
    margin-top: 3%;
    font-family: 'Pomidor';
    color: #E6FF81;
    font-size: 50;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    line-height: 0.7em;
    text-align: center;
}
.col-md-4 p:hover {
    color: rgb(0, 0, 0);
}

img {
    width: 100%;
    vertical-align: middle;
}

p {
    background-color:#E6FF81 ;
}


#footer { 
    margin: 0;
    padding: 5;
    background-color: #E6FF81 ;
    text-align: center;
}

#footer .p { 
    background-color: #E6FF81 ;
}

#footer .icons { 
    margin: 5;
    color:black;
    text-align: center;
    background-color: #E6FF81 ;
}

#footer .svg { 
    background-color: #E6FF81 ;
}
