* {
    box-sizing: border-box;
    font-family: "arboria", sans-serif;
    font-weight: 500;
    font-style: normal;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Pomidor';
    src: url('Pomidor.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

#header {
    width: 100%;
}

#workh {
    width: 100%;
}

#quote {
    background-color:#E6FF81 ;
    display: flex;
    height: 30em;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: arboria, sans-serif;
    font-weight: 700;
    font-style: normal;
}

#quote > p {
    font-size: 3rem;
    display: flex;
    text-align: center;
}

.display-4 {
    background-color:#E6FF81 ;
}
.lead {
    background-color:#E6FF81 ;
}
.d-grid {
    background-color:#E6FF81 ;
}
.btn-primary {
    background-color:#E6B0FA !important;
    outline-color: black !important;
}
.btn-outline-secondary {
    background-color: #C0CAEB!important;
    outline-color: black !important;
}