* {
    box-sizing: border-box;
    font-family: "arboria", sans-serif;
    font-weight: 500;
    font-style: normal;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Pomidor';
    src: url('Pomidor.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

#header {
    width: 100%;
}

#workh {
    width: 100%;
}

#quote {
    background-color:#E6FF81 ;
    display: flex;
    height: 30em;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#quote > p {
    font-size: 3rem;
    display: flex;
    text-align: center;
}